body{
  background-color:rgb(220, 239, 240)
}
*{
  margin: 0;
  font-style: Arial;
  border: border-box;
}

.navbar{
  height: 50px;
  background-color: rgb(81, 72, 72);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo{
  height: 50px;
  width: 150px;
}
.logo{
  background-image: url(icon.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border{
  border: 1.25px solid transparent;
}

.border:hover{
  border: 1.25px solid white;
}

.nav-search{
  display:flex;
  justify-content: space-evenly;
  background-color: rgb(165, 132, 138);
  width:700px;
  height: 40px;
  border-radius: 4px;

}

.search-input{
  width:100%;
  font-size: 1rem;

}

.search-icon{
  width:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(228, 228, 190);
  color: black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.description{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;

}

.quotes{
  display: flex;
  justify-content: space-evenly;
}

.box1{
  height: 200px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  background-color: aliceblue;
}

.box1 img{
  height:100%;
  width:100%;
  object-fit: contain;
}

.box2{
  height: 200px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  background-color: aliceblue;
}

.box2 img{
  height:100%;
  width:100%;
  object-fit: contain;
}
